rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Default catch-all denies access to any unspecified collection
    match /{document=**} {
      allow read, write: if false;
    }

    // Stocks collection is visible to everyone, and open to updates to allow multi-device administration
    match /stocks/{stockId} {
      allow read, write: if true;
    }
  }
}
